body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open-Sans', sans-serif;
    text-align: center;
    font-size: 30px;
   background: linear-gradient(to left top , rgb(224, 224, 224), rgb(56, 56, 56) );
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    position: absolute;
    right: 70%;
    font-size: 60px;
    top: 30%;
}

.cont2 {
    position: absolute;
    right: 67%;
    font-size: 55px;
    top: 45%;  
}

.phone1 {
    position: absolute;
    right: 30%;
    top: 30%;
    max-height: fit-content;
}

.s4 {
    bottom: 30%;
}

.servis {
    
    font-size: 30px;

}

.s2 {
    bottom: 8%;
}

