body {
    background-color:#8c8c8c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    line-height: 1.5em;
    text-align: center;
}

p {text-align: center;}

h1 {
    text-align: center;
}

